@media screen and (min-width: 100px) {
  .menu {
    width: 34px; }

  .bar {
    top: 50px; }

  .menu-icon {
    line-height: 50px; }

  .controls__logo {
    letter-spacing: -0.1rem; }

  .menu__bar {
    left: -14px;
    border-right: 0; }

  .bag__bar {
    right: -14px;
    border-left: 0;
    height: 100vh;
    max-height: 660px; }

  .product__info {
    padding: 10px 24px 8px 13px;
    font-size: 1.375rem; }

  .product__info-title {
    line-height: normal; }

  .bar__footer {
    height: 85px;
    font-size: 1.625rem; }

  .bar__footer-checkout {
    line-height: 85px;
    padding-left: 12px; }
    .bar__footer-checkout i {
      margin-left: 10px; }

  .bar__footer-text {
    width: 50%;
    max-width: 222px; }

  .bar__total {
    height: 50px;
    bottom: 85px; }

  .total__wrapper {
    padding: 0 24px 0 12px;
    font-size: 1.375rem; }
    .total__wrapper div {
      line-height: 50px; }

  .menu__bar-search {
    height: 60px; }

  .menu__bar-footer {
    height: 50px;
    margin-right: auto;
    margin-left: 0; }

  .bar__categories {
    height: calc(100% - 110px); }

  .search-input {
    height: 40px;
    width: calc(100% - 67px);
    font-size: 1rem; }

  .search-icon {
    width: 45px;
    height: 40px;
    margin: 0 10px 0 12px; }
    .search-icon i {
      line-height: 45px;
      font-size: 1.25rem; }

  .search__wrapper {
    padding-left: 12px;
    margin-left: 0; }

  .category {
    height: 70px;
    font-size: 1.375rem;
    padding-left: 25px;
    margin-right: auto;
    line-height: 70px; }
    .category:after {
      margin-right: 25px; }

  .subcategory {
    height: 50px;
    font-size: 1.375rem; }
    .subcategory a {
      line-height: 50px;
      padding-left: 25px;
      margin-right: auto; }
      .subcategory a i {
        line-height: 50px;
        margin-right: 25px; } }
@media screen and (min-width: 360px) {
  .bar__footer-checkout {
    padding-left: 22px; } }
@media screen and (min-width: 768px) {
  .bar {
    width: 278px;
    top: 36px; }

  .bag,
  .menu {
    width: 258px; }

  .bar-title {
    height: 36px;
    line-height: 36px;
    font-size: 1.125rem; }

  .bar__footer-text,
  .bar__footer-checkout {
    width: 50%; }

  .menu-icon {
    line-height: 36px; }

  .menu__bar-title {
    padding-left: 30px; }
    .menu__bar-title i {
      display: none; }

  .menu__bar-title,
  .menu__bar {
    left: auto;
    right: 0; }

  .bag__bar-title,
  .bag__bar {
    left: 0; }

  .menu__bar {
    border-right: solid 2px black; }

  .bag__bar {
    border-left: solid 2px black;
    height: 100vh;
    max-height: 460px; }

  .controls__logo {
    letter-spacing: normal; }

  .bar__product-wrapper {
    max-width: 278px; }

  .product__info {
    padding: 10px 14px 8px 8px;
    font-size: 1rem; }

  .product__info-title,
  .num {
    line-height: 26px; }

  .bar__footer {
    height: 50px;
    font-size: 1.25rem; }

  .bar__footer-checkout {
    line-height: 50px;
    padding-left: 10px; }

  .bar__total {
    height: 40px;
    bottom: 50px; }

  .total__wrapper {
    padding: 0 14px 0 12px;
    font-size: 1.25rem; }
    .total__wrapper div {
      line-height: 40px; }

  .menu__bar-search {
    height: 50px; }

  .menu__bar-footer {
    height: 40px; }

  .bar__categories {
    height: calc(100% - 90px); }

  .search-input {
    height: 34px;
    width: calc(100% - 64px);
    font-size: 0.875rem; }

  .search-icon {
    width: 36px;
    height: 34px;
    margin: 0 12px 0 16px; }
    .search-icon i {
      line-height: 36px;
      font-size: 1rem; }

  .search__wrapper {
    padding-left: 18px; }

  .category {
    height: 40px;
    font-size: 1.125rem;
    padding-left: 30px;
    margin-right: auto;
    line-height: 40px; }
    .category:after {
      margin-right: 20px; }

  .subcategory {
    height: 40px;
    font-size: 1.125rem; }
    .subcategory a {
      line-height: 40px;
      padding-left: 35px;
      margin-right: auto; }
      .subcategory a i {
        line-height: 40px;
        margin-right: 20px; } }
@media screen and (min-width: 1280px) {
  .bag,
  .menu {
    width: 415px; }

  .bar {
    width: 440px;
    top: 46px; }

  .bag__bar {
    height: 100vh;
    max-height: 660px; }

  .bar-title {
    height: 46px;
    line-height: 46px;
    font-size: 1.25rem; }

  .bar__footer-text {
    width: 222px; }

  .bar__footer-checkout {
    width: calc(100% - 222px);
    line-height: 85px;
    padding-left: 22px; }
    .bar__footer-checkout i {
      margin-left: 40px; }

  .menu-icon {
    line-height: 46px; }

  .menu__bar {
    max-height: 610px;
    overflow-y: auto; }

  .menu__bar-title div {
    width: 100%;
    padding-left: calc(100% - 410px);
    margin-left: auto;
    vertical-align: middle; }
  .menu__bar-title i {
    display: block;
    float: right;
    font-size: 1.875rem;
    line-height: 46px;
    -webkit-text-stroke: 2.5px black;
    text-stroke: 2.5px black;
    margin-right: 15px; }

  .bar__product-wrapper {
    max-width: 440px; }

  .product__info {
    padding: 10px 24px 8px 13px;
    font-size: 1.375rem; }

  .product__info-title {
    line-height: normal; }

  .bar__footer {
    height: 85px;
    font-size: 1.625rem; }

  .bar__total {
    height: 50px;
    bottom: 85px; }

  .total__wrapper {
    padding: 0 24px 0 12px;
    max-width: 440px;
    font-size: 1.375rem; }
    .total__wrapper div {
      line-height: 50px; }

  .menu__bar-search {
    height: 60px; }

  .menu__bar-footer {
    height: 50px;
    margin-left: auto;
    margin-right: 0;
    max-width: 440px; }

  .bar__categories {
    height: calc(100% - 110px); }

  .search-input {
    height: 40px;
    width: calc(100% - 67px);
    font-size: 1rem; }

  .search-icon {
    width: 45px;
    height: 40px;
    margin: 0 10px 0 12px; }
    .search-icon i {
      line-height: 40px;
      font-size: 1.25rem; }

  .search__wrapper {
    padding-left: 12px;
    margin-left: auto;
    max-width: 440px; }

  .category {
    height: 70px;
    font-size: 1.375rem;
    padding-left: 25px;
    margin-left: auto;
    margin-right: 0;
    max-width: 440px;
    line-height: 70px; }
    .category:after {
      margin-right: 25px; }

  .subcategory {
    height: 50px;
    line-height: 50px;
    font-size: 1.375rem; }
    .subcategory a {
      padding-left: 25px;
      margin-left: auto;
      margin-right: 0;
      max-width: 440px; }
      .subcategory a i {
        line-height: 50px;
        margin-right: 25px; } }
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 5;
  background-color: rgba(255, 255, 255, 0.502);
  display: none; }

.bar {
  position: absolute;
  z-index: 6;
  background-color: white;
  border-bottom: solid 2px black;
  display: none; }

.menu__bar-title {
  right: 0;
  top: 0;
  z-index: 6;
  cursor: pointer; }

.bar-title {
  color: white;
  background-color: black;
  text-transform: uppercase;
  font-weight: 500;
  position: absolute;
  display: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none; }

.bag__bar-title {
  left: 0;
  padding-left: 24px;
  z-index: 6; }

.bar__product {
  width: 100%;
  height: 120px;
  border-bottom: solid 1px #c6c6c6; }

.bar__product-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row; }
  .bar__product-wrapper img {
    height: 100%; }

.product__info {
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-between; }

.square {
  width: 24px;
  height: 26px;
  line-height: 24px;
  text-align: center;
  border: solid 2px black;
  background-color: white;
  font-weight: 700;
  cursor: pointer; }

.product__info-color {
  width: 100%; }
  .product__info-color div {
    width: 22px;
    height: 22px;
    background-color: black; }

.product__info-title {
  width: calc(100% - 28px);
  font-weight: 500;
  letter-spacing: 0.05rem; }

.product__info-button {
  padding: 0;
  text-align: center; }

.num {
  display: inline-block;
  height: 24px;
  width: 42px;
  background-color: #d1d1d1;
  text-align: center; }

.product__info-quantity,
.product__info-price {
  margin-top: 20px; }

.show {
  display: block; }

.bar__total {
  width: 100%;
  position: absolute;
  border-top: solid 1px #c6c6c6;
  background-color: #dcdcdc; }

.total__wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  text-transform: uppercase; }
  .total__wrapper div {
    color: #656565; }

.bar__total-title {
  font-weight: 500;
  width: 100%; }

.bar__footer {
  width: 100%;
  position: absolute;
  bottom: 0;
  background-color: black;
  font-weight: 700;
  text-transform: uppercase;
  display: flex;
  flex-direction: row; }

.bar__footer-text {
  height: 100%;
  display: table;
  background-color: white; }
  .bar__footer-text div {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    color: #dcdcdc;
    transition: color 0.2s;
    cursor: pointer; }
    .bar__footer-text div:hover {
      color: black; }

.bar__footer-checkout {
  color: white;
  cursor: pointer; }
  .bar__footer-checkout span,
  .bar__footer-checkout i {
    vertical-align: middle; }

.menu__bar::-webkit-scrollbar {
  width: 6px;
  background-color: white;
  border: solid 1px black; }
.menu__bar::-webkit-scrollbar-thumb {
  background: black; }

.menu__bar-search {
  background-color: #b1b1b1; }

.menu__bar-footer {
  background-color: white;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  padding-right: 15px; }

.search-input {
  outline-width: 0;
  background-color: white;
  border: 0;
  padding-left: 12px;
  font-weight: 500; }

.search-icon {
  background-color: black;
  color: white;
  text-align: center;
  cursor: pointer; }

.search__wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center; }

.facebook_dark {
  background-position: -10px -239px;
  width: 10px;
  height: 19px; }

.twitter_dark {
  background-position: -10px -68px;
  width: 24px;
  height: 17px; }

.insta__dark {
  background-position: -10px -152px;
  width: 19px;
  height: 19px; }

.bar__footer-soc-icon {
  vertical-align: middle;
  margin: 0 6px; }

.description {
  margin: 1em auto 2.25em; }

.category {
  text-transform: uppercase;
  color: black;
  font-weight: 500;
  user-select: none;
  -moz-user-select: none; }
  .category:after {
    content: '+';
    font-weight: 500;
    font-size: 35px;
    color: black;
    float: right; }

.category_active:after {
  content: '-';
  padding-right: 4px; }

.bar__categories {
  width: 100%;
  border-bottom: solid 2px #b1b1b1; }

.category__wrapper,
.subcategory {
  cursor: pointer;
  border-top: solid 2px #b1b1b1;
  width: 100%; }

.bar__categories,
.inner {
  list-style: none;
  padding: 0;
  margin: 0; }

.inner {
  overflow: hidden;
  display: none;
  margin-bottom: -2px; }

.subcategory {
  background-color: black; }
  .subcategory a {
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    display: block;
    font-weight: 500;
    height: 100%; }
    .subcategory a i {
      float: right;
      text-stroke: 1.5px black; }

/*# sourceMappingURL=menu.css.map */
