@function remy($pxsize) {
  @return ($pxsize/16)+rem;
}

.products__item {
  position: relative;
}

.products__item-linkWrapper {
  width: 100%;
  position: relative;
}

.item-img {
  width: 100%;
}


.products__item-link {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: 4;
  cursor: pointer;
  text-decoration: none;
  box-sizing: border-box;
  div {
    display: table;
    position: absolute;
    top: 90%;
    background-color: rgba(0, 0, 0, 0.702);
    opacity: 1;
    z-index: 5;
    width: 100%;
    height: 10%;
    text-align: center;
    font-weight: 700;
    font-size: 1rem;
    user-select: none;
    color: white;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    span {
      display: table-cell;
      vertical-align: middle;
    }
  }
}

.products__item:last-of-type {
  margin-right: 0;
}

.products__item-price {
  text-align: center;
  font-weight: 500;
  margin: 6px 0 4px;
}

.products__item-saleprice {
  text-align: center;
  font-weight: bold;
  margin: 0;
}

.products__item-sale {
  position: absolute;
  top: -15px;
  left: -10px;
  z-index: 5;
}

.products .slick-slide {
  margin: 12px 7px 0;
}

.slider .slick-slide {
  transition: all ease-in-out .3s;
  opacity: .2;
}

.slider .slick-active {
  opacity: 1;
}

.slider .slick-current {
  opacity: 1;
}

.products__carousel-arrow {
  position: absolute;
  top: 50%;
  color: black;
  font-size: remy(20);
  cursor: pointer;
  z-index: 5;
}

@media screen and (min-width: 100px) {

  .products .slick-list {
    padding: 2px 80px!important;
  }

  .products .slick-arrow {
    display: none!important;
  }

  .oldprice {
    color: rgba(0, 0, 0, 0.502);
    text-decoration: line-through;
  }

  .products__item-price {
    font-size: remy(15);
  }

  .products__item-saleprice {
    font-size: remy(17);
    display: block;
  }

  .products__item-link:hover {
    opacity: 0;
  }

  .products__item-sale {
    display: block;
  }

  .products__carousel-arrow {
    display: none;
    top: calc(43px);
  }

  .responsive2 .slick-list {
    padding: 2px 61.5px!important;
  }

  .responsive3 .slick-list {
    padding: 2px 41.5px!important;
  }

  .responsive2 .slick-slide {
    margin: 0 7.5px;
  }

  .responsive3 .slick-slide {
    margin: 0 9px;
  }
}

@media screen and (min-width: 500px) {

}

@media screen and (min-width: 768px) {
  .products .slick-list {
    padding: 2px 50px!important;
  }

  .products__item-link:hover {
    opacity: 1;
    transition: opacity 0.2s;
  }

  .products .slick-arrow {
    display: block!important;
    z-index: 6;
  }

  .arrow_left {
    left: 12px
  }

  .arrow_right {
    right: 12px;
  }

  .products__carousel-arrow {
    display: block;
    top: calc((100% - 58.8px) / 2);
  }

  .responsive2 .slick-list {
    padding: 2px 0!important;
  }

  .responsive3 .slick-list {
    padding: 2px 0!important;
  }

  .responsive2 .slick-slide,
  .responsive3 .slick-slide {
    &:first-of-type {
      margin-left: 0;
    }

    &:last-of-type {
      margin-right: 0;
    }
  }

  .responsive2 .slick-slide {
    width: calc(20% - 12px)!important;
  }

  .responsive3 .slick-slide {
    width: calc(25% - 14px)!important;
  }
}

@media screen and (min-width: 1024px) {
  .oldprice {
    color: black;
    text-decoration: none;
  }

  .products__item-price {
    font-size: remy(14.4);
    margin-top: 8px;
  }

  .products__item-sale,
  .products__item-saleprice {
    display: none;
  }

  .products__carousel-arrow {
    display: block;
    top: calc(((100% - 26.57px) / 2) - 7px);
  }
}

@media screen and (min-width: 1240px) {
  .products .slick-list {
    padding: 2px 0!important;
  }

  .arrow_left {
    left: -22px
  }

  .arrow_right {
    right: -22px;
  }

  .products__carousel-arrow {
    cursor: auto;
    color: #d0d0d0
  }
}

@media screen and (min-width: 1280px) {
  .responsive2 .slick-slide {
    margin: 0 11px;
    width: calc(20% - 17.6px)!important;
  }

  .responsive3 .slick-slide {
    margin: 0 16.5px;
    width: calc(25% - 24.75px)!important;
  }
}

.arrow_disabled {
  cursor: auto;
  color: #d0d0d0
}

.responsive2 .slider-item,
.responsive3 .slider-item {
  position: relative;
}
