html {
  font-size: 16px; }

* {
  font-family: 'Rajdhani', sans-serif; }

body {
  min-width: 320px; }

@font-face {
  font-family: "Courier New";
  src: url("../fonts/cour.ttf");
  font-weight: 400;
  font-style: normal; }
.controls, .bag {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center; }

@media screen and (min-width: 100px) {
  body {
    max-width: 765px; }

  .controls, .categories,
  .instagram,
  .usa {
    padding-left: 14px;
    padding-right: 14px; }

  .controls {
    height: 50px;
    order: 1; }

  .infostring {
    height: 20px;
    line-height: 20px;
    order: 2; }

  .bag-login {
    display: none; }

  .carousel {
    order: 3; }

  .section__header {
    margin-top: 10px; }

  .section__header-text {
    font-size: 1.125rem;
    margin: 0 10px; }

  .section__header-img {
    width: 40px; }

  .products__carousel {
    margin-top: 10px; }

  .categories-figure {
    width: 124px;
    margin: 50px auto 34px; }

  .block_left {
    margin-right: 0; }

  .blocks__block {
    margin-bottom: 15px;
    width: 100%; }

  .blocks__block-title {
    font-size: 1.251875rem;
    letter-spacing: 0.3rem;
    text-shadow: 0px 4px 0px black, 0px 3px 0px black; }

  .blocks__block-subtitle {
    font-size: 1.005625rem;
    letter-spacing: 0.2rem; } }
@media screen and (min-width: 600px) {
  .block_left {
    margin-right: 15px; }

  .blocks {
    display: flex;
    flex-flow: row wrap; }

  .blocks__block:nth-of-type(1), .blocks__block:nth-of-type(2) {
    width: calc(50% - 7.5px); }
  .blocks__block:nth-of-type(3) {
    width: calc(65.2% - 7.5px); }
  .blocks__block:nth-of-type(4) {
    width: calc(34.8% - 7.5px); }
  .blocks__block:nth-of-type(5) {
    width: calc(37.2% - 7.5px); }
  .blocks__block:nth-of-type(6) {
    width: calc(62.8% - 7.5px); }

  .blocks__block a:hover {
    background-color: rgba(0, 0, 0, 0.5); }
    .blocks__block a:hover .blocks__block-subtitle {
      opacity: 1; } }
@media screen and (min-width: 768px) {
  body {
    max-width: 1279px; }

  .controls, .categories,
  .instagram,
  .usa {
    padding-left: 20px;
    padding-right: 20px; }

  .controls {
    height: 36px;
    padding-top: 0;
    padding-bottom: 0;
    order: 3;
    margin-top: -5px; }

  .infostring {
    height: 14px;
    line-height: 14px;
    order: 1; }

  .bag-login {
    display: inline-block; }

  .carousel {
    order: 2; }

  .section__header {
    margin-top: 20px; }

  .section__header-text {
    font-size: 1.25rem;
    margin: 0 20px; }

  .section__header-img {
    width: 50px; }

  .categories-figure {
    margin: 20px auto 26px; }

  .block_left {
    margin-right: 15px; }

  .slide-title {
    font-size: 1.2575rem; } }
@media screen and (min-width: 1280px) {
  body {
    max-width: 2000px; }

  .controls, .categories,
  .instagram,
  .usa {
    padding-left: 25px;
    padding-right: 25px; }

  .controls {
    height: 46px; }

  .infostring {
    height: 16px;
    line-height: 16px; }

  .section__header {
    margin-top: 30px; }

  .section__header-text {
    font-size: 1.6875rem;
    margin: 0 24px; }

  .section__header-img {
    width: 60px; }

  .products__carousel {
    margin-top: 20px; }

  .categories-figure {
    width: 158px;
    margin: 70px auto 38px; }

  .block_left {
    margin-right: 30px; }

  .blocks__block {
    margin-bottom: 30px; }
    .blocks__block:nth-of-type(1), .blocks__block:nth-of-type(2) {
      width: calc(50% - 15px); }
    .blocks__block:nth-of-type(3) {
      width: calc(65.2% - 15px); }
    .blocks__block:nth-of-type(4) {
      width: calc(34.8% - 15px); }
    .blocks__block:nth-of-type(5) {
      width: calc(37.2% - 15px); }
    .blocks__block:nth-of-type(6) {
      width: calc(62.8% - 15px); }

  .blocks__block-title {
    font-size: 2.111875rem;
    letter-spacing: 0.5rem;
    text-shadow: 0px 3px 0px black, 0px 4px 0px black; }

  .blocks__block-subtitle {
    font-size: 1.206875rem;
    letter-spacing: 0.3rem; }

  .slide-title {
    font-size: 1.51rem; } }
.header {
  display: flex;
  flex-direction: column;
  background-color: #f8f7f3; }

.carousel,
.products__carousel {
  width: 100%;
  position: relative; }

.carousel {
  margin: 0 auto;
  max-width: 1280px; }

.products__carousel {
  margin-left: auto;
  margin-right: auto;
  max-width: 1180px; }

.controls {
  background: black; }

.menu-icon {
  color: white;
  cursor: pointer;
  font-size: 1.875rem; }

.controls__logo {
  align-self: center; }

.logo {
  font-size: 1.875rem;
  font-weight: 700;
  color: white;
  text-transform: uppercase; }

.infostring {
  font-size: 0.66rem;
  font-weight: 400;
  background-color: #c5c5c5;
  color: white;
  text-align: center; }

.bag-login {
  color: white;
  font-size: 1.5rem;
  text-transform: uppercase; }

.bag__cart {
  position: relative; }

.cart__quant {
  position: absolute;
  height: 20px;
  width: 20px;
  top: 0;
  right: 20px;
  background-color: white;
  border-radius: 50%;
  border: solid 2px black;
  z-index: 5;
  font-size: 0.73525rem;
  text-align: center;
  line-height: 20px; }

.section__header {
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center; }

.section__header-text {
  font-weight: 500; }

.categories,
.instagram,
.usa {
  width: 100%; }

.categories {
  margin: 0 auto;
  max-width: 1280px; }

.categories-figure {
  display: block; }

.blocks__block {
  position: relative; }
  .blocks__block img {
    width: 100%;
    height: 100%; }
  .blocks__block a {
    transition: background-color 0.2s;
    background-color: rgba(0, 0, 0, 0); }

.blocks__block a, .hoverlink {
  display: table;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 2;
  text-align: center;
  text-decoration: none;
  color: white; }

.blocks__block-title, .slide-title {
  display: table-cell;
  vertical-align: middle; }

.blocks__block-title {
  text-transform: uppercase;
  font-weight: 600; }

.blocks__block-subtitle {
  transition: opacity 0.2s;
  opacity: 0;
  position: absolute;
  z-index: 2;
  left: 0;
  width: 100%;
  top: 60%; }

.slide-title {
  font-weight: 500;
  color: white; }

.hoverlink {
  opacity: 0;
  transition: opacity 0.2s;
  background-color: rgba(0, 0, 0, 0.5); }
  .hoverlink:hover {
    opacity: 1; }

/*# sourceMappingURL=styles.css.map */
