html {
  font-size: 16px;
}

* {
  font-family: 'Rajdhani', sans-serif;
}

body {
  min-width: 320px;
  position: relative;
}

@font-face {
  font-family: "Courier New";
  src: url('../fonts/cour.ttf');
  font-weight: 400;
  font-style: normal;
}

@function remy($pxsize) {
  @return ($pxsize/16)+rem;
}

$grey: #c5c5c5;
$greyText: rgb(57, 57, 57);

%flexRow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

@mixin grid($space) {
  &:nth-of-type(1),
  &:nth-of-type(2) {
    width: calc(50% - #{$space});
  }

  &:nth-of-type(3) {
    width: calc(65.2% - #{$space});
  }

  &:nth-of-type(4) {
    width: calc(34.8% - #{$space});
  }

  &:nth-of-type(5) {
    width: calc(37.2% - #{$space});
  }

  &:nth-of-type(6) {
    width: calc(62.8% - #{$space});
  }
}

.soc-icon {
  display: inline-block;
  background: url('../img/icons.png')
  no-repeat; overflow:
  hidden;
  text-indent: -9999px;
  text-align: left;
  text-decoration: none;
}

@media screen and (min-width: 100px) {
  body {
    max-width: 765px;
  }

  %sect {
    padding: {
      left: 14px;
      right: 14px;
    }
  }

  .controls {
    height: 50px;
    order: 1;
  }

  .bag-login {
    display: none;
  }

  .infostring {
    height: 20px;
    line-height: 20px;
    order: 2;
  }

  .bag-login {
    display: none;
  }

  .carousel {
    order: 3;
  }

  .section__header {
    margin-top: 10px;
  }

  .section__header-text {
    font-size: remy(18);
    margin: 0 10px;
    letter-spacing: 0;
  }

  .products__header {
    margin-top: 20px;
  }

  .section__header-img {
    width: 40px;
  }

  .products__carousel {
    margin-top: 10px;
  }

  .clothes-figure {
    width: 124px;
    margin: 50px auto 34px;
  }

  .block_left {
    margin-right: 0;
  }

  .blocks__block {
    margin-bottom: 15px;
    width: 100%;
  }

  .blocks__block-title {
    font-size: remy(20.03);
    letter-spacing: 0.3rem;
    text-shadow: 0px 4px 0px black, 0px 3px 0px black;
  }

  .blocks__block-subtitle {
    font-size: remy(16.09);
    letter-spacing: 0.2rem;
  }

  .hoverlink {
    &:hover {
      opacity: 0;
    }
  }

  .instagram__header {
    margin-top: 28px;
    margin-bottom: 30px;
  }

  .usa__header {
    margin-top: 28px;
    margin-bottom: 24px;
  }

  .footer {
    display: none;
  }

  .bottomLogo {
    display: block;
  }

  .contact__form {
    font-size: remy(19.47);
    flex-direction: column;
    margin: 50px 0 0;
  }

  .form-title,
  .form-input {
    width: 100%;
    height: 38px;
    line-height: 38px;
  }

  .form-button {
    color: white;
  }

  .form-input {
    border: solid #d0d0d0 2px;
  }

  .form-button {
    border: solid black 2px;
    box-shadow: 0 4px 0 0 #4f5052;
  }
}

@media screen and (min-width: 340px) {

}

@media screen and (min-width: 600px) {
  .block_left {
    margin-right: 15px;
  }

  .blocks {
    display: flex;
    flex-flow: row wrap;
  }

  .blocks__block {
    @include grid(7.5px);
  }

  .blocks__block {
    a:hover {
      background-color: rgba(0, 0, 0, 0.5);
      .blocks__block-subtitle {
        opacity: 1;
      }
    }
  }

  .instagram__header {
    margin-top: 13px;
  }
}

@media screen and (min-width: 768px) {
  body {
    max-width: 1279px;
  }

  %sect {
    padding: {
      left: 20px;
      right: 20px;
    }
  }

  .controls {
    height: 36px;
    padding: {
      top: 0;
      bottom: 0;
    }
    order: 3;
    margin-top: -5px;
  }

  .bag-login {
    display: block;
    line-height: 36px;
  }

  .infostring {
    height: 14px;
    line-height: 14px;
    order: 1;
  }

  .bag-login {
    display: inline-block;
  }

  .carousel {
    order: 2;
  }

  .section__header {
    margin-top: 20px;
  }

  .section__header-text {
    font-size: remy(20);
    margin: 0 20px;
    letter-spacing: 0.1rem;
  }

  .section__header-img {
    width: 50px;
  }

  .clothes-figure {
    margin: 20px auto 26px;
  }

  .block_left {
    margin-right: 15px;
  }

  .slide-title {
    font-size: remy(20.12);
    i {
      font-size: remy(24.12);
    }
  }

  .usa,
  .instagram {
    width: calc(100% - 40px);
  }

  .instagram__header {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .usa__header {
    margin-top: 26px;
    margin-bottom: 26px;
  }

  .hoverlink {
    &:hover {
      opacity: 1;
    }
  }

  .footer {
    display: block;
  }

  .info__links-link {
    font-size: remy(14);
  }

  .info-f {
    background-position: -10px -268px;
    width: 9px;
    height: 16px;
  }

  .info-t {
    background-position: -10px -128px;
    width: 21px;
    height: 14px;
  }

  .info-i {
    background-position: -10px -181px;
    width: 15px;
    height: 15px;
  }

  .bottomLogo {
    display: none;
  }

  .contact__form {
    font-size: remy(14);
    flex-direction: row;
    align-items: center;
    margin: 32px 0 36px;
  }

  .form-title,
  .form-input {
    height: 30px;
    line-height: 30px;
  }

  .form-title {
    color: black;
    position: relative;
    &:after {
      content: "";
      position: absolute;
      top: 0;
      right: -10px;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 15px 0 15px 10px;
      border-color: transparent transparent transparent black;
    }
    margin-right: 16px;
  }

  .form-button {
    color: #4f5052;
    box-shadow: 2px 4px 0 0 #4f5052;
    transition: transform 0.2s, box-shadow 0.2s, color 0.2s;
    &:hover {
      transform: translateY(4px) translateX(2px);
      box-shadow: none;
      color: white;
    }
  }

  .input_first {
    margin-right: 4px;
  }

  .input_second {
    margin-right: 8px;
  }
}

@media screen and (min-width: 1280px) {
  body {
    max-width: 2000px;
  }

  %sect {
    padding: {
      left: 25px;
      right: 25px;
    }
  }

  .controls {
    height: 46px;
  }

  .bag-login {
    line-height: 46px;
  }

  .infostring {
    height: 16px;
    line-height: 16px;
  }

  .section__header {
    margin-top: 30px;
  }

  .section__header-text {
    font-size: remy(27);
    margin: 0 24px;
  }

  .section__header-img {
    width: 60px;
  }

  .products__carousel {
    margin-top: 20px;
  }

  .clothes-figure {
    width: 158px;
    margin: 70px auto 38px;
  }

  .block_left {
    margin-right: 30px;
  }

  .blocks__block {
    @include grid(15px);
    margin-bottom: 30px;
  }

  .blocks__block-title {
    font-size: remy(33.79);
    letter-spacing: 0.5rem;
    text-shadow: 0px 3px 0px black, 0px 4px 0px black;
  }

  .blocks__block-subtitle {
    font-size: remy(19.31);
    letter-spacing: 0.3rem;
  }

  .slide-title {
    font-size: remy(24.16);
    i {
      font-size: remy(29);
    }
  }

  .usa,
  .instagram {
    width: calc(100% - 50px);
    max-width: 1230px;
  }

  .instagram__header {
    margin-top: 48px;
    margin-bottom: 45px;
  }

  .usa__header {
    margin-top: 52px;
    margin-bottom: 42px;
  }

  .info__links-link {
    font-size: remy(15.38);
  }

  .info-f {
    background-position: -10px -206px;
    width: 12px;
    height: 23px;
  }

  .info-t {
    background-position: -10px -38px;
    width: 30px;
    height: 20px;
  }

  .info-i {
    background-position: -10px -95px;
    width: 23px;
    height: 23px;
  }

  .contact__form {
    font-size: remy(19.23);
    margin: 65px 0 52px;
  }

  .form-input {
    height: 52px;
    line-height: 52px;
  }

  .form-title {
    height: 54px;
    line-height: 54px;
    &:after {
      right: -15px;
      border-width: 27px 0 27px 15px;
    }
    margin-right: 25px
  }

  .input_first {
    margin-right: 7px;
  }

  .input_second {
    margin-right: 15px;
  }
}

.header {
  display: flex;
  flex-direction: column;
  background-color: #f8f7f3
}

.carousel,
.products__carousel {
  width: 100%;
  position: relative;
}

.carousel {
  margin: 0 auto;
  max-width: 1280px;
}

.products__carousel {
  margin-left: auto;
  margin-right: auto;
  max-width: 1180px;
}

.controls {
  background: black;
}

.menu-icon {
  color: white;
  font-size: 1.875rem;
}

.controls__logo {
  align-self: center;
}

.logo {
  font-size: remy(30);
  font-weight: 700;
  color: white;
  text-transform: uppercase;
}

.infostring {
  letter-spacing: 0.11rem;
  font-size: 0.66rem;
  font-weight: 400;
  background-color: $grey;
  color: white;
  text-align: center;
}

.bag {
  @extend %flexRow;
  justify-content: flex-end;
  height: 100%;
  position: relative;
}

.menu {
  position: relative;
  height: 100%;
}

.bag-login {
  color: white;
  font-size: remy(24);
  text-transform: uppercase;
  padding-right: 25px;
  width: calc(100% - 34px);
  height: 100%;
  text-align: right;
}

.bag__cart,
.menu-icon {
  position: relative;
  cursor: pointer;
}

.bag__cart {
  z-index: 7;
}

.bag__cart-icon {
  background-position: -10px -0px;
  width: 34px;
  height: 28px;
}

.cart__quant {
  position: absolute;
  height: 20px;
  width: 20px;
  top: 0;
  right: 20px;
  background-color: white;
  border-radius: 50%;
  border: solid 2px black;
  font-size: remy(11.764);
  text-align: center;
  line-height: 18px;
}

.section__header {
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.section__header-text {
  font-weight: 500;
}

.clothes,
.instagram,
.usa,
.contact {
  @extend %sect;
  margin: 0 auto;
}

.clothes {
  max-width: 1280px;
}

.instagram,
.usa {
  box-sizing: content-box;
}

.clothes-figure {
  display: block;
}

.blocks__block {
  position: relative;
  img {
    width: 100%;
    height: 100%;
  }

  a {
    @extend %shadow;
    transition: background-color 0.2s;
    background-color: rgba(0, 0, 0, 0);
    text-align: center;
    div {
      width: 100%;
      height: 100%;
      display: table;
    }
  }
}

%shadow {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 2;
  text-decoration: none;
  color: white;
}

%tableCell {
  display: table-cell;
  vertical-align: middle;
}

.blocks__block-title {
  @extend %tableCell;
  text-transform: uppercase;
  font-weight: 600;
  height: 100%;
}

.blocks__block-subtitle {
  transition: opacity 0.2s;
  opacity: 0;
  position: absolute;
  z-index: 2;
  left: 0;
  width: 100%;
  top: 60%;
}

.slide-title {
  @extend %tableCell;
  font-weight: 500;
  color: white;
  height: 100%;
  width: 100%;
  text-align: center;
  letter-spacing: 0.05rem;
}

.hoverlink {
  @extend %shadow;
  opacity: 0;
  display: block;
  bottom: 0;
  height: 100%;
  transition: opacity 0.2s;
  background-color: rgba(0, 0, 0, 0.5);
  div {
    display: table;
    height: 100%;
    width: 100%;
    i {
      width: 100%;
      margin-bottom: 10px;
    }
  }
}

.footer {
  height: 34px;
  background-color: black;
  width: 100%;
}

.footer__info {
  @extend %sect;
  @extend %flexRow;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  max-width: 1280px;
}

.info__links-link {
  color: white;
  margin-right: 30px;
  text-decoration: none;
}

.info__icons-link {
  margin: 1px 0 0 5px;
  text-decoration: none;
}

.bottomLogo {
  width: 100%;
  img {
    display: block;
    width: 80px;
    margin: 60px auto 15px;
  }
}

.contact {
  max-width: 1280px;
}

.contact__form {
  display: flex;
  width: 100%;
}

.form-title {
  text-transform: uppercase;
  background-color: black;
  color: white;
  font-weight: 500;
}

.form-title,
.form-input {
  text-align: center;
  margin-top: 7px;
}

.form-button {
  background-color: #d0d0d0;
  border: 0;
  font-weight: 500;
  cursor: pointer;
}

input::placeholder {
  color: #4f5052;
  opacity: 1;
}

.input_first,
.input_second {
  &:focus {
    border-color: #4f5052;
    outline-width: 0;
  }
}

.controls__wrapper {
  @extend %sect;
  @extend %flexRow;
  width: 100%;
  height: 100%;
  max-width: 1280px;
  margin: 0 auto;
}

.withoutScroll {
  overflow: hidden;
}
